<!DOCTYPE html>
<html>
  <body>
    <header><a href="/">Enter user</a> | <a href="/users">Users</a></header>

    <form action="/add-users" method="post">
      <label for="username">Enter your name:</label>
      <input type="text" id="username" name="username" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
